 body{
    background-image: linear-gradient(75deg, rgba(101, 101, 101, 0.2),rgba(132, 132, 132, 0.2)),linear-gradient(135deg, rgb(197, 197, 197) 0%,rgb(251, 251, 251) 39%,rgb(219, 219, 219) 48%,rgb(229, 229, 229) 60%,rgb(186, 186, 186) 91%,rgb(208, 208, 208) 98%,rgb(240, 240, 240) 100%);
}

.header-text , .heading {
    background-color: rgb(25, 45, 60,1);
    color: aqua;
}
.header-text{
    border-radius: 20px !important ;
    padding: 10px;
}
.heading{
    border-radius: 20px;
    padding: 20px;
}
.footer-text{
    color: aqua;
    background-color: rgb(25, 45, 60,1);
    max-width: 100%;
    position: fixed;
    bottom: 0;
}
.products{
    overflow: hidden;
    margin-bottom: 100px;
}
.card{
width: 800px;
background-color: rgb(25, 45, 60,1);
color: aqua;
padding: 10px;
border-radius: 20px;
}
.image{
    height: 300px;
    width: 300px;
}
/* .btn-minus{
    background-color: whitesmoke;
    border-radius: 50px;
} */